{% extends "index.html" %}
{% block all_inset %}
    <div class="container-fluid">
        <div class="row">

                <div class="col-sm-12" ng-init="show_all_inset()">
                    <ul>
                        <div ng-repeat="inset in show_all_inset.insets">
                            <li><a href="/show_inset/{% verbatim %}{{ inset.id }}{% endverbatim %}"> #{% verbatim %}{{ inset.id }}{% endverbatim %}</a></li>
                            <br />
                        </div>
                    </ul>

                </div>

        </div>

    </div>
{% endblock all_inset %}