
<!DOCTYPE html>
<html lang="pl" ng-app="Application">
    <head>
        <title>Open Paste</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/static/bower_components/angular/angular.js"></script>
        <link href="/static/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    </head>

    <body ng-controller="Paste_system">

    <!-- *****************************************************************************************************************
     CONTENT - TRESC
     ***************************************************************************************************************** -->

    <div class="container-fluid" ng-show="state_alert==true">
        <div class="row">
            <div class="col-sm-12 text-center">
                {% verbatim %}{{ alert }}{% endverbatim %}
            </div>
        </div>
    </div>

    <a href="/all_inset">Wszystkie wklejki</a>
{#    <a href="/show_inset">Wszystkie wklejki</a>#}

    {% block start_page %}
    {% endblock start_page %}

    {% block all_inset %}
    {% endblock all_inset %}
    <!-- *****************************************************************************************************************
     FOOTER
     ***************************************************************************************************************** -->


    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/js/logic.js"></script>

    </body>
</html>