{% extends "index.html" %}
{% block start_page %}
    <div class="container-fluid">
        <div class="row red_box">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <a href="/text-inset"><div class="btn btn-default btn-block"><span style="font-size:300%" class="glyphicon glyphicon-list-alt" aria-hidden="true"></span><br/> TEXT PASTE</div></a>
            </div>

            <div class="col-sm-5">
                <a href="/text-inset"><div class="btn btn-default btn-block"><span style="font-size:300%" class="glyphicon glyphicon-picture" aria-hidden="true"></span><br/> IMAGE PASTE</div></a>

            </div>
            <div class="col-sm-1"></div>
        </div>

    </div>
{% endblock start_page %}


{% block navbar_place_right %}

{% endblock %}

{% block navbar_place_left %}
{% endblock %}