body {
    background: rgb(236, 234, 232);
    margin: 0;
    height: 100%;

}

.red_box {
    /*#283339*/
    /*#FAF9F8*/
    background: rgb(212, 56, 60);
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;

}

.red_box a{
    color: black;
}
.navbar{
    background-color: transparent;

}

.navbar-default .navbar-nav > li > a{
    background-color: rgb(212, 56, 60);
    color: #FAF9F8;

}
.navbar-default .navbar-nav > li > a:hover{
    background-color: rgba(212, 56, 60, 0.89);
    color: #FAF9F8;

}
.pagination > li > a, .pagination > li > span{
    color: #283339;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: red;
    border-color: red;
}